
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login-box {
    display: flex;
    width: 900px;
    background-color: #e6dcc3;
    border: 6px solid #7a653a;
    padding: 40px;
    box-sizing: border-box;
}


.login-left {
    width: 50%;
    padding-right: 40px;
}

.login-left h2 {
    text-align: center;
    color: #7a653a;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}


.input-field label {
    color: #7a653a;
    font-size: 18px;
}

.input-field input {
    border: 2px solid #7a653a;
    padding-left: 10px;
    box-sizing: border-box;
    height: 45px;
}

.input-field input:focus {
    border-bottom: 2px solid #7a653a;
    box-shadow: none;
}


.login-btn {
    background-color: #7a653a;
    width: 180px;
    height: 45px;
    font-size: 18px;
    text-transform: none;
}

.login-btn:hover {
    background-color: #6b5831;
}


.login-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7a653a;
}

.login-right i {
    font-size: 140px;
    margin-bottom: 20px;
}

.login-right span {
    font-size: 26px;
    font-weight: 500;
}


@media (max-width: 900px) {
    .login-box {
        flex-direction: column;
        width: 90%;
    }

    .login-left,
    .login-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .login-left {
        margin-bottom: 40px;
    }
}
